.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding: 0px 15px;
}

.outer {
  /* background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
  padding: 10px;

  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
}
.outer:hover {
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  cursor: pointer;
}
.outer:hover .options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.title {
  font-weight: bold;
  font-size: 27px;
}
.tagline {
  margin-top: 10px;
  font-size: 20px;
}
.body {
  margin-top: 10px;
  font-size: 18px;
  background-color: #e2e1e0 !important;
  padding: 5px;
  border-radius: 2px;
  flex: 1;
  overflow: scroll;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.master {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  margin: 25px;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
}
.master:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
