.outer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #351e29;
  padding: 20px;
}
.title {
  color: #f7a278;
  font-size: 40px;
}
.left {
  font-size: 25px;
  color: #f7a278;
}
.right {
  font-size: 25px;
  color: #f7a278;
}
